<div class="hidden" id="commentBox">
	<form action="/post/{{posts.postData.id}}/" method="post" id="commentForm">
		{{!--  --}}
		<textarea name="comment" form="commentForm" placeholder="Leave a comment here!" id="commentInput" rows="4" required></textarea>
		<input type="submit" value="post" class="btn commentSubmit">
	</form>
</div>