<div id="fadedBackground" class='hidden'>
	<div class="roundBtn" id="closeBtn">X</div>
</div>

<div class="form hidden" id="postForm">
	<h1 class="title">Create Post</h1>

	<form action="/post/create" enctype="multipart/form-data" method="post">
		<label>
			<input type="file" id="imageInput" name="image">
			<ion-icon name="image-outline" id="addImage"></ion-icon>
		</label>
		<div class="formGroup">
			<input type="text" name="title" class="formInput" required>
			<label for="title" class="formLabel"><b>Title</b></label>
		</div>

		<div class="formGroup">
			<input type="text" name="content" class="formInput" required>
			<label for="content" class="formLabel"><b>Post</b></label>
		</div>

		<div class="formGroup">
			<input type="text" name="tags" class="formInput" required>
			<label for="tags" class="formLabel"><b>Tags (comma seperated)</b></label>
		</div>

		<input type="submit" value="Post" class="btn submitBtn">
	</form>
</div>