<div id="footer">
	<li class="iconParent" id="home"><a href="/"><ion-icon name="home-outline" class="icon"></ion-icon></a></li>
	<div class="roundBtn" id="newPost">+</div>
		<li class="iconParent" id="user">
			{{#if loggedIn}}
			<a href="/user/{{userName}}">
			{{else}}
			<a href="/user/login">
			{{/if}}
				<ion-icon name="person-outline" class="icon"></ion-icon>
			</a>
		</li>
</div>