<div id="footer">
	<li class="iconParent" id="home"><a href="/"><ion-icon name="home-outline" class="icon"></ion-icon></a></li>
	<div id="newPost">+</div>
	<li class="iconParent" id="user"><a href="/user/login"><ion-icon name="person-outline" class="icon"></ion-icon></a></li></a>
</div>