<div class="menuContainer hidden">
	<ul id="menu">
		<li class="option"><a href="#">Edit</a></li>
		<li class="option"><a href="/post/delete/{{this._id}}">Delete</a></li>
		<li class="option"><a href="#">Download image</a></li>
		<li class="option"><a href="#">Report</a></li>
	</ul>
</div>