<nav>
	<ul class="navList">
		<li class="navItem"><a href="/">Home</a></li>
		<li class="navItem"><a href="#">Popular</a></li>
	</ul>
	<ul class="navList">
		<li class="navItem"><a href="/user/login">Login</a></li>
		<li class="navItem"><a href="/user/signup">Signup</a></li>
	</ul>
</nav>