<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
	<link rel="stylesheet" href="/mobile.css">
    <title>Document</title>
</head>
<body>
	{{> navbar}}
	<div class="container">
    	{{{body}}}
	</div>
	{{> createPost}}
	{{> footer}}
	<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script
</body>
</html>