<div class="postContainer">
	{{#each posts}}
		{{> post}}
	{{/each}}
</div>

<div id="commentSection">
	{{> commentForm}}
	{{#each comments}}
		{{> comment}}
	{{/each}}
</div>

<script src="/js/comment.js"></script>