<div class="postContainer">
	{{#each posts}}
		{{> post}}
	{{/each}}
</div>

<div id="commentSection">
	<div id="commentBox">
		<form action="/post/{{posts.postData.id}}" method="post" id="commentForm">
			<textarea name="comment" form="commentForm" placeholder="Leave a comment here!" id="commentInput" rows="1" required></textarea>
			<input type="submit" value="post" class="btn commentSubmit">
		</form>
	</div>

	{{#each comments}}
		{{> comment}}
	{{/each}}
</div>