<div id="profileCard">
		<div id="profileImage"></div>
		<p id="profileName">{{userInfo.userName}}</p>

		<div id="userInfo">
			<div class="info">
				<p>posts</p>
				<p>{{totalPosts}}</p>
			</div>
			<div class="info">
				<p>upvotes</p>
				<p>{{userInfo.upVotes}}</p>
			</div>
			<div class="info">
				<p>comments</p>
				<p>{{userInfo.commentCount}}</p>
			</div>
		</div>
</div>

<div class="postContainer">
	{{#each userPosts}}
		{{> post}}
	{{/each}}
</div>