<div id="profileCard">
	<div id="profileBody">
		<div id="profileImage"></div>
		<p id="profileName">{{userName}}</p>

		<div id="userInfo">
			<div class="info posts"></div>
			<div class="info upvotes"></div>
			<div class="info comments"></div>
		</div>
	</div>
</div>

<div class="postContainer">
	{{#each posts}}
		{{> post}}
	{{/each}}
</div>