<div id="profileCard">
	{{!-- <div id="profileBody"> --}}
		<div id="profileImage"></div>
		<p id="profileName">{{user.userName}}</p>

		<div id="userInfo">
			<div class="info">
				<p>posts</p>
				<p>{{totalPosts}}</p>
			</div>
			<div class="info">
				<p>upvotes</p>
				<p>{{user.upVotes}}</p>
			</div>
			<div class="info">
				<p>comments</p>
				<p>{{totalComments}}</p>
			</div>
		</div>
	{{!-- </div> --}}
</div>

<div class="postContainer">
	{{#each posts}}
		{{> post}}
	{{/each}}
</div>