:root {
	--navy: #1D1F28;
	--deep-gray: #282A36;
	--light-gray: #9b9B9B;
	--text: #DDD;
	--highlight: #3BBA9C;
}

* {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: var(--text);
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	color: #fff;
	background-color: var(--navy);
}

.hidden {
	display: none;
}

.roundBtn {
	width: 3vw;
	height: 3vw;
	padding: 5vw;
	bottom: 6.5vw;
	color: var(--highlight);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid var(--light-gray);
	border-radius: 50%;
	background-color: var(--deep-gray);
}

h1 {
	text-align: center;
}

h2, p {
	margin: 0;
}

.container {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

nav {
	width: 100%;
	top: 0;
	position: fixed;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: var(--deep-gray);
}

.navList {
	width: 30%;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	list-style-type: none;
}

.navItem a {
	padding: 16px 0;
	display: inline-block;
	text-decoration: none;
}

.navItem a:hover {
	color: var(--highlight);
}

/* end nav */

.form {
	width: 85%;
	height: auto;
	padding: 2%;
	background-color: var(--deep-gray);
}

.formContainer {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}

.title {
	margin: 2% 0;
	text-align: center;
	font-size: 2em;
}

form {
	min-width: 45%;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.formGroup {
	padding: 15px 0 0;
	margin-top: 20px;
	position: relative;
	display: flex;
	flex-direction: row;
}

.formInput {
	width: 100%;
	padding: 7px 0;
	margin-top: 5px;
	font-size: 1.1em;
	border: 0;
	background: transparent;
	border-bottom: 2px solid var(--light-gray);
	outline: 0;
}

.formInput:focus {
  	border-bottom: 2px solid var(--highlight);
}

.formInput:focus ~ .formLabel {
	top: 0;
	position: absolute;
	display: block;
	color: var(--highlight);
}

.formLabel {
	top: 0;
	position: absolute;
	display: block;
	font-size: 1em;
}

.submitBtn {
	width: auto;
	padding: 2%;
	margin-top: 3%;
	font-size: 1.3em;
	cursor: pointer;
	border: none;
	color: var(--highlight);
	background-color: var(--navy);
}

.submitBtn:hover {
	color: var(--text);
	cursor: pointer;
}

.formLink {
	padding-top: 2%;
	text-decoration: none;
}

.formLink > span {
	color: var(--highlight);
}

/* end form */

#fadedBackground {
	width: 100%;
	height: 100%;
	top: 0;
	position: absolute;
	opacity: .9;
	background-color: var(--navy);
	z-index: 1;
}

#postForm {
	width: 85%;
	height: auto;
	padding: 2%;
	top: 25%;
	left: 6%;
	position: absolute;
	z-index: 2;
}

#imageInput {
	display: none;
}

#addImage {
	margin-right: 3%;
	cursor: pointer;
	float: right;
	font-size: 28pt;
	z-index: 2;
}

#closeBtn {
	left: 43%;
	position: absolute;
	opacity: 1;
}
/* end post form */

.postContainer {
	width: 100%;
	margin-bottom: 16%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.post {
	width: 90%;
	margin-bottom: 4%;
	padding: 3%;
	color: var(--text);
	display: flex;
	flex-direction: column;
	background-color: var(--deep-gray);
}

.postTitle, .postContent {
	padding-bottom: 4%;
}

.postFooter {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.postImage {
	width: 100%;
	height: 40vw;
	background-color: var(--light-gray);
}