* {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
	--navy: #1d1f28;
	--deep-gray: #282a36;
	--light-gray: #9b9b9b;
	--highlight: #3BBA9C;
}

html, body {
	width: 100%;
	height: 100%;
	padding: 2.5% 0 0 0;
	margin: 0;
	color: #fff;
	background-color: var(--navy);
}

h2, p {
	margin: 0;
}

.container {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

nav {
	width: 100%;
	top: 0;
	position: fixed;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: var(--deep-gray);
}

.navList {
	width: 30%;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	list-style-type: none;
}

.navItem a {
	padding: 16px 0;
	display: inline-block;
	color: #fff;
	text-decoration: none;
}

.navItem a:hover {
	color: var(--highlight);
}

/* end nav */

.formContainer {
	width: 60%;
	height: auto;
	padding: 2%;
	margin: auto;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	background-color: var(--deep-gray);
}

.title {
	margin: 2% 0;
	text-align: center;
	font-size: 2em;
}

form {
	min-width: 45%;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.formGroup {
	padding: 15px 0 0;
	margin-top: 20px;
	position: relative;
	display: flex;
}

.formInput {
	width: 100%;
	padding: 7px 0;
	margin-top: 5px;
	color: #fff;
	font-size: 1.1em;
	border: 0;
	background: transparent;
	border-bottom: 2px solid var(--light-gray);
	outline: 0;
}

.formInput:focus {
  	border-bottom: 2px solid var(--highlight);
}

.formInput:focus ~ .formLabel {
	top: 0;
	position: absolute;
	display: block;
	color: var(--highlight);
}

.formLabel {
	top: 0;
	position: absolute;
	display: block;
	font-size: 1em;
	color: #fff;
}

.submitBtn {
	width: auto;
	padding: 2%;
	margin: 3% 0 3% 0;
	font-size: 1.3em;
	cursor: pointer;
	border: none;
	color: var(--highlight);
	background-color: var(--navy);
}

.submitBtn:hover {
	color: #fff;
	cursor: pointer;
}

@media only screen and (max-width: 600px) {
	form {
		height: auto;
		width: 100%;
	}
}